@font-face {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

/* Common */

body {
  margin: 0 auto;
  padding-top: 40px;
  width: 1160px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubic", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #f0f0f0;
}

.page-main {
  flex-grow: 1;
}

.button {
  color: #000000;
  background-color: #FFE17F;

  font-family: "Raleway" sans-serif;
  font-family: inherit;
  font-size: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Header */

.page-header {
  padding: 43px 60px 23px;
  background-color: #FFE17F;
}

.nav-wrapper {
  width: 100%;
  display: flex;
}

.header-search-form {
  margin-right: 27px;
  width: 517px;
}

.search-button {
  font-size: 16px;
  line-height: 20px;
}


.header-field-input {
  font-size: 16px;
  line-height: 20px;
}

.user-navigation-list,
.site-menu {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.user-navigation-item:first-child {
  margin-right: 176px;
}

.user-navigation-link,
.site-menu-link {
  color: #000000;
  font-size: 18px;
  text-decoration: none;
}

.user-navigation-link {
    line-height: 30px;
}

.site-menu-item:first-child {
  margin-right: 333px;
}

.site-menu-link {
  font-family: "Raleway", sans-serif;
  letter-spacing: 3.6px;
}

/* Footer */
.page-footer {
  display: flex;
  flex-direction: column;
  background-color: #444444;
}

.footer-content, .footer-social, .page-footer-social {
  display: flex;
}

.footer-menu, .page-footer-social {
  margin: 0;
  padding: 0;
}

.contacts-address,
.contacts-phone {
  color: #ffffff;
  
  font-size: 16px;
  font-style: normal;
  line-height: 29px;
}

.contacts-address {
  text-decoration: none;
}

.footer-menu-link {
  color: #ffffff;

  font-family: "Raleway", sans-serif;
  letter-spacing: 3.6px;
  text-decoration: none;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
  
.breadcrumbs-link {
  color: #000000;
  text-decoration: none;
}

/* Forms */

.field-input {
    font-family: inherit;
    font-size: 16px;
}

/* Range */

.range-input {
  font-family: inherit;
  font-size: 18px;
}

.range-title {
  opacity: 0.3;
}

/* Pagination */

.pagination-link {
  color: #444444;
  
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  }

.pagination-prev, .pagination-next {
  color: #000000;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

/* Main */

.container {
  width: 1160px;
  margin: 0 auto;
}

/* Section */

.section-title {
  color: #000000;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}
  
.section-description {
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
}

.section-description .contacts-phone {
    color: inherit;
    text-decoration: none;
}

/* Promo */

.slider-item {
  display: flex;
  justify-content: space-between;
}

.feature-item {
    font-size: 16px;
    line-height: 30px;
}

.feature-item b {
    color: #000000;

    font-size: 36px;
    line-height: 30px;
}

/* Catalog */

.products-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.products-item {
  width: 160px;
  text-align: center;
}

.products-link {
  color: #000000;

  font-family: "Raleway", sans-serif;
  line-height: 24px;
  text-decoration: none;
}

/* Advantages*/

.advantages-wrapper {
  display: flex;

}

.advantages-tubs {
  width: 287px;
}

/* Contacts */

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.about-info {
  width: 520px;
}

.contacts-info {
  width: 532px;
}

.delivery-info-button {
  color: #000000;

  font-family: "Raleway", sans-serif;
  font-size: 20px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.delivery-list {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/* Subscribe */

.subscribe-text {
  text-shadow: 
  1px 1px 0 #000000,
  -1px 1px 0 #000000,
  1px -1px 0 #000000,
  -1px -1px 0 #000000;
}


/* Filter */

.filter {
  width: 320px;
}

.filter-main-title {
  color: #000000;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.filter-title {
  color: #000000;

  font-weight: 700;
  line-height: 20px;
}

/* Catalog */

.catalog {
  width: 840px;
  color: #000000;
}

.catalog-wrapper {
  display: flex;
}

/* Card */

.product-card-title {
  font-weight: 700;
  line-height: 20px;
}
  
  .product-card-link{
    color: #000000;
  
    text-decoration: none;
  }
  
  .product-card-price {
    color: #444444;
    letter-spacing: -0,36px;
  }