@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

/* Common */

body {
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  min-width: 1440px;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-main {
  flex-grow: 1;
}

.button {
  box-sizing: border-box;
  color: #000000;
  background: linear-gradient(#ffe17f, #ffe17f) center/100% 8px no-repeat;
  padding: 10px 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;

  border: none;
  outline: none;
  border-color: unset;
  cursor: pointer;
}

.button:focus {
  outline: #af4fff solid 2px;
}

.button:active {
  background: #ffcc33;
  outline: none;
}

.button:hover {
  background: #ffe17f;
}

.button:disabled {
  background: linear-gradient(#ffe17f, #ffe17f) center/100% 8px no-repeat;
  opacity: 0.3;
  outline: none;
}

/* Header */

.page-header {
  position: relative;
}

.page-header .container {
  position: relative;
  box-sizing: border-box;
  background-color: #ffe17f;
  padding: 44px 60px 136px;
}

.catalog-head .container {
  padding-bottom: 23px;
}

.logo {
  line-height: 0;
}

.logo:focus {
  outline: #af4fff solid 2px;
}

.logo:active {
  opacity: 0.3;
}

.logo:hover {
  opacity: 0.6;
  outline: none;
}

.header-logo {
  position: absolute;
  top: -23px;
}

.nav-wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.header-search-form {
  margin-right: 24px;
  width: 513px;
  border: #000000 solid 2px;
  border-radius: 50px;
  display: flex;
}

.search-button {
  padding: 8px 55px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: #ffe17f;
  border-left: #000000 solid 2px;
  border-radius: 0 50px 50px 0;
  color: #000000;
}

.search-button:focus {
  outline: #af4fff solid 2px;
  outline-offset: 2px;
}

.search-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.search-button:disabled {
  opacity: 0.3;
}

.search-field {
  flex-grow: 1;
}

.search-field:focus-within {
  outline: #af4fff solid 2px;
  outline-offset: 2px;
}

.header-field-input {
  padding-left: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: transparent;
  border-radius: 50% 0 0 50%;
  background-image: url("../images/svg/search.svg");
  background-repeat: no-repeat;
  background-position: 13px center;
}

.header-field-input:focus {
  outline: none;
}

.header-field-input::placeholder {
  font-family: "Rubik", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
}

.user-navigation-list,
.site-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-navigation-link,
.site-menu-link {
  position: relative;
  color: #000000;
  font-size: 18px;
  text-decoration: none;
}

.user-navigation-link {
  line-height: 30px;
}

.user-navigation-item {
  position: relative;
}

.user-navigation-item:not(.authorize) a:focus,
.site-menu-item:not(:first-child) a:focus {
  outline: #af4fff solid 2px;
  outline-offset: 2px;
}

.user-navigation-link:not(.authorize):hover,
.site-menu-item:not(:first-child):hover {
  opacity: 0.6;
}

.user-navigation-item:not(.authorize):active,
.site-menu-item:active {
  opacity: 0.3;
}

li a:focus {
  outline: none;
}

.no-authorize {
  opacity: 0;
  margin: 0 26px;
}

.authorize {
  opacity: 0.3;
}

.site-menu-item:first-child {
  margin-right: 234px;
  display: flex;
  align-items: center;
}

.site-menu-link {
  font-family: "Raleway", sans-serif;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.site-menu-link-active {
  position: relative;
}

.site-menu-link-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #000000;
}

.site-menu-catalog-button {
  position: relative;
  min-width: 50px;
  height: 50px;
  margin-left: 16px;
  background-color: #ffe17f;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.site-menu-catalog-button::before,
.site-menu-catalog-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  content: "";
}

.site-menu-catalog-button::before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.site-menu-catalog-button::after {
  transform: translate(-50%, -50%);
}

.catalog-open .site-menu-catalog-button::before {
  width: 0;
}

.site-menu-item:first-child:focus-within {
  outline: #af4fff solid 2px;
  outline-offset: 2px;
}

.site-menu-catalog-button:focus {
  outline: none;
}

.site-menu-catalog-button:hover,
.site-menu-catalog-button:active {
  border-color: #000000;
}

.site-menu-catalog-button:hover::before,
.site-menu-catalog-button:active::before,
.site-menu-catalog-button:hover::after,
.site-menu-catalog-button:active::after {
  background: #000000;
}

.catalog-menu {
  display: none;
}

.site-menu-item:first-child:focus-within .catalog-menu {
  position: absolute;
  box-sizing: border-box;
  top: 168px;
  left: 0;
  width: 100%;
  padding: 14px 60px 33px;
  display: grid;
  grid-template-columns: 252px 211px 211px 1fr;
  background-color: #ffe17f;
}

.catalog-menu,
.menu-category-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-category-link {
  position: relative;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  z-index: 2;
}

.menu-category-link:hover {
  opacity: 0.6;
}

.menu-category-link:active {
  opacity: 0.3;
}

.menu-category-link:focus {
  outline: #af4fff solid 2px;
}

.navigation-icon {
  margin-right: 9px;
}

.basket-counter {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  left: -15px;
  top: 0;
  min-width: 21px;
  height: 21px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  padding: 0 5px;
  box-sizing: border-box;
}

/*Popover*/

.popover {
  position: absolute;
  right: -60px;
  z-index: 1;
  box-sizing: border-box;
  width: 320px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
  min-height: 154px;
  display: none;
}

.popover::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 6px 7px;
  border-color: transparent transparent #000000 transparent;
  position: relative;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.popover-open {
  display: block;
}

.popover-content {
  height: 100%;
}

.cart-items-list {
  padding: 0 20px;
  list-style-type: none;
}

.cart-item {
  padding: 0;
  display: flex;
  gap: 28px;
  align-items: flex-start;
}

.cart-item-link {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  gap: 23px;
}

.cart-item-link:hover,
.cart-item-button:hover {
  opacity: 0.6;
}

.cart-item-link:active,
.cart-item-button:active {
  opacity: 0.3;
}

.cart-item-link:focus:not(:active),
.cart-item-button:focus:not(:active) {
  outline: 2px solid #af4fff;
}

.cart-item + .cart-item {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #1a1a1a;
}

.cart-item-title {
  margin: 0;
  flex-grow: 1;
  margin-right: 5px;
}

.cart-item-button {
  padding: 0 2px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-total-summ {
  margin-top: 20px;
  padding: 7px 20px;
  background-color: #1a1a1a;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
}

.cart-button-wrapper {
  margin-top: 20px;
  padding: 0 20px;
}

.cart-button {
  padding: 15px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  background: #ffffff;
}

.cart-button:disabled {
  opacity: 0.3;
}

/* Footer */

.page-footer {
  padding: 25px 0;
  background-color: #444444;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 35px;
}

.footer-content,
.footer-social,
.page-footer-social,
.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.line {
  width: 80px;
  border-bottom: #ffc700 solid 7px;
}

.footer-social .social {
  margin-left: 33px;
  padding-top: 10px;
  gap: 15px;
  list-style-type: none;
}

.footer-menu,
.page-footer-social {
  margin: 0;
  padding: 0;
}

.footer-menu {
  gap: 31px;
  padding-bottom: 8px;
}

.contacts-phone {
  color: #ffffff;

  font-size: 18px;
  font-style: normal;
  line-height: 30px;
}

.footer-content .contacts-phone {
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
}

.contacts-address {
  color: #ffffff;

  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  max-width: 238px;
  text-decoration: none;
}

.contacts-tel {
  margin-left: 74px;
  padding-bottom: 8px;
  padding-right: 3px;
}

.footer-menu-link {
  position: relative;
  color: #ffffff;

  font-family: "Raleway", sans-serif;
  letter-spacing: 3.6px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #ffc700;
}

.footer-menu-link:focus,
.contacts-phone:focus {
  outline: #af4fff solid 2px;
}

.footer-menu-link:hover,
.contacts-phone:hover {
  color: #ffc700;
}

.footer-menu-link:hover::after,
.footer-menu-link:active::after {
  width: 100%;
}

.footer-menu-link:active,
.contacts-phone:active {
  color: #ffc700;
  opacity: 0.3;
}

.footer-social {
  margin-top: 35px;
}

.social-link {
  font-size: 0;
}

.social-link:focus {
  outline: #af4fff solid 2px;
}

.social-link:hover svg circle {
  fill: #ffc700;
  fill-opacity: 1;
}

.social-link:active svg circle {
  fill: #ffc700;
  fill-opacity: 1;
}

.social-link:active svg path {
  fill-opacity: 0.3;
}

.footer-developer {
  line-height: 0;
}

.footer-developer:focus {
  outline: #af4fff solid 2px;
}

.footer-developer:hover svg {
  fill: #ffffff;
}

.footer-developer:active svg {
  fill: #ffffff;
  opacity: 0.3;
}

/* Breadcrumbs */

.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-left: 60px;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  list-style-type: none;
  gap: 16px;
}

.breadcrumbs-item {
  padding-right: 22px;
}

.breadcrumbs-item:not(:last-child) {
  background-image: url("../images/svg/breadcrumbs.svg");
  background-repeat: no-repeat;
  background-size: 4px 7px;
  background-position: center right;
}

.breadcrumbs-link {
  color: #000000;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus:not(:active) {
  outline: #afafaf solid 2px;
}

/* Forms */

.field-input {
  font-family: inherit;
  font-size: 16px;
}

/* Range */

.range-slider {
  position: relative;
  height: 2px;
  margin-bottom: 11px;
  background-color: #dcdcdc;
}

.slider-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.slider-thumb {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-thumb-min {
  top: -8px;
  left: -9px;
}

.slider-thumb-max {
  top: -8px;
  right: -9px;
}

.slider-thumb:active {
  background: #000000;
}

.slider-thumb:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.range-wrapper-inputs {
  display: flex;
  gap: 17px;
  margin-top: 11px;
  margin-left: -10px;
}

.range-field {
  display: flex;
  margin-right: 10px;
  line-height: 18px;
}

.range-field:first-child {
  margin-left: -5px;
}

.range-input {
  font-family: inherit;
  opacity: 0.3;
  font-size: 15px;
  width: 50px;
  padding: 0 2px;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-title {
  font-size: 15px;
  opacity: 0.3;
  margin-right: 5px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Pagination */

.pagination {
  padding: 44px 40px 78px;
  background-color: #ffffff;
}

.pagination-show-more {
  width: 100%;
  margin-bottom: 44px;
  padding: 18px 0;
  background: none;
  border: #e5e5e5 solid 3px;
  font-size: 16px;
  line-height: 16px;
}

.pagination-nav {
  padding: 25px;
  background-color: #ebebeb;
  display: flex;
  justify-content: space-between;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  color: #444444;
  opacity: 0.3;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.pagination-prev,
.pagination-next {
  color: #000000;
  opacity: 1;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

/* Main */

.container {
  width: 1160px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
}

/* Section */

.section-title {
  margin-top: 0;
  margin-bottom: 29px;
  color: #000000;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.section-description {
  margin-top: 0;
  margin-bottom: 51px;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
}

.section-description .contacts-phone {
  color: inherit;
  text-decoration: none;
}

/* Promo */

.promo .container {
  padding: 0;
}

.promo .section-title {
  position: relative;
  z-index: 1;
}

.slider {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: flex;
  gap: 40px;
  position: relative;
  top: -212px;
}

.slider-item:not(.slider-item-active) {
  display: none;
}

.slider-item-number {
  position: absolute;
  right: 4px;
  top: 30px;
  width: 250px;
  height: 135px;
  background-repeat: no-repeat;
}

.slider-button {
  width: 20px;
  height: 60px;
  background-color: transparent;
  color: #000000;
  border: none;
  cursor: pointer;
  background-image: url("../images/svg/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 61px;
  z-index: 1;
}

.slider-prev {
  left: 29px;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus:not(:active) {
  outline: #af4fff solid 2px;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-next {
  transform: rotate(180deg);
  left: 515px;
}

.slider-item:first-child .slider-item-number {
  background-image: url("../images/svg/01.svg");
}

.slider-item:nth-child(2) .slider-item-number {
  background-image: url("../images/svg/02.svg");
}

.slider-item:last-child .slider-item-number {
  background-image: url("../images/svg/03.svg");
}

.slider-description-wrapper {
  padding-top: 123px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 16px;
  line-height: 30px;
}

.feature {
  display: flex;
  gap: 20px;
}

.feature-item b {
  margin-right: 20px;
  color: #000000;

  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
}

.promo-button {
  width: 220px;
}

.slider-pagination-wrapper {
  margin-bottom: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 9px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  margin-left: 12px;
  padding: 0;
  border: #000000 solid 2px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button:focus {
  outline: #af4fff solid 2px;
  outline-offset: 2px;
}

.slider-pagination-item {
  font-size: 8px;
  line-height: 8px;
}

.pagination-item-active .pagination-link {
  color: #444444;
}

.slider-pagination-button-current {
  background-color: #000000;
}

/* Advantages*/

.advantages {
  padding-bottom: 35px;
  background: linear-gradient(to bottom,
  transparent 135px,
  #f0f0f0 135px,
  #f0f0f0 100%
);
}

.advantages-wrapper {
  display: flex;
}

.advantages-tubs {
  margin: 0;
  padding: 64px 0 65px;
  min-width: 279px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 35px;
  border-right: #000000 solid 7px;
}

.advantages-item-active {
  background-color: #000000;
}

.advantages-item-active .tubs-button {
  color: #ffe17f;
  background: none;
}

.advantages-item-active:hover .tubs-button {
  color: #ffe17f80;
}

.advantages-item-active:focus-within {
  outline: #af4fff solid 2px;
  outline-offset: 2px;
}

.tubs-button {
  width: 160px;
  padding: 10px 0;
}

.advantages-item-active .tubs-button:active {
  color: #ffe17f4d;
}

.advantages-item-active .tubs-button:focus {
  outline: none;
}

.advantages-cards {
  padding: 72px 0;
}

.advantages-card {
  display: none;
  padding-right: 309px;
  padding-left: 116px;
  background-repeat: no-repeat;
  background-position: center right 63px;
}

.advantages-card-active {
  display: block;
}

.advantages-card:first-child {
  background-image: url("../images/svg/delivery-man.svg");
  background-size: 136px 164px;
}

.advantages-card:nth-child(2) {
  background-image: url("../images/svg/garanty.svg");
  background-size: 171px 195px;
}

.advantages-card:last-child {
  background-image: url("../images/svg/credit.svg");
  background-size: 156px 188px;
}

.advantages-cards .section-title {
  margin-bottom: 34px;
}

.advantages-cards .section-description {
  margin-bottom: 0;
}

/* Contacts */

.contacts {
  padding: 33px 0;
}

.contacts .section-title {
  margin-bottom: 48px;
}

.contacts .section-description {
  margin-bottom: 30px;
  width: 507px;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.about-info {
  width: 500px;
}

.contacts-info {
  width: 532px;
}

.delivery-wrapper {
  display: flex;
  height: 100px;
  margin-bottom: 70px;
}

.delivery-wrapper:hover .contacts-delivery {
  background-color: #ffc700;
}

.delivery-wrapper:active {
  opacity: 0.3;
}

.delivery-wrapper:focus-within {
  outline: #af4fff solid 2px;
}

.contacts-delivery {
  min-width: 125px;
  height: 100%;
  background-color: #ffe17f;
  background-image: url("../images/svg/delivery-car.svg");
  background-size: 47px 31px;
  background-repeat: no-repeat;
  background-position: center left 43px;
}

.delivery-info-button {
  height: 100%;
  padding-top: 43px;
  padding-bottom: 40px;
  color: #000000;
  border: none;
  background-color: #f0f0f0;
  flex-grow: 1;

  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-right: 124px;
  background-image: url("../images/svg/info-icon.svg");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center right 44px;
}

.delivery-info-button:focus {
  outline: none;
}

.delivery-list {
  margin: 0;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding: 0;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  list-style-type: none;
}

.delivery-item {
  position: relative;
  padding-left: 36px;
}

.delivery-item::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ffc700;
  border-radius: 50%;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts-address-text {
  margin: 0;
}

.contacts-schedule {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style-type: none;
}

.contacts-button {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.about-info .button {
  width: 270px;
}

.contacts-info .button {
  width: 259px;
}

.info::before {
  content: "";
  width: 84px;
  height: 7px;
  background-color: #000000;
  display: inline-block;
  margin-bottom: 33px;
}

/* Subscribe */

.subscribe {
  padding: 26px 0 21px 15px;
  background-color: #f0f0f0;
}

.subscribe .section-title {
  width: 348px;
}

.subscribe-button {
  padding-left: 35px;
  padding-right: 35px;
  min-height: 57px;
  background-image: none;
  border: #cecece solid 3px;
}

.pagination-show-more:focus:not(:active),
.subscribe-button:focus:not(:active) {
  outline: #af4fff solid 2px;
  outline-offset: 2px;
}

.pagination-show-more:hover,
.subscribe-button:hover {
  border: #000000 solid 3px;
  background: none;
}

.pagination-show-more:active,
.subscribe-button:active {
  opacity: 0.3;
  border: #000000 solid 3px;
  background: none;
}

.pagination-show-more:disabled,
.subscribe-button:disabled {
  opacity: 0.3;
  background: none;
}

.pagination-show-more:disabled:hover,
.subscribe-button:disabled:hover {
  opacity: 0.3;
  background: none;
  border: #cecece solid 3px;
}

.info-wrapper {
  margin-bottom: 115px;
  display: flex;
  gap: 252px;
}

.subscribe-text {
  margin: 0;
  padding-top: 10px;
}

.subscribe .form-wrapper {
  width: 100%;
  display: flex;
  gap: 188px;
  align-items: center;
}

.subscribe-hint {
  margin: 0;
  padding-left: 32px;
  padding-right: 8px;
  background-image: url("../images/svg/tick-big.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center left;
}

.subscribe-form {
  flex-grow: 1;
  display: flex;
}

.subscribe-label {
  padding-top: 11px;
  border-bottom: #c4c4c4 solid 3px;
  flex-grow: 1;
}

.subscribe-label-error {
  border-bottom: #ff3d3d solid 3px;
}

.subscribe-label:focus-within {
  background-color: #dcdcdc;
}

.subscribe-input {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  color: #444444;
  border: none;
  background-color: #f0f0f0;

  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
}

.subscribe-input:focus {
  outline: none;
  background-color: #dcdcdc;
}

.subscribe-input:invalid {
  box-shadow: none;
}

/* Filter */

.filter {
  width: 320px;
  padding-left: 60px;
  padding-right: 40px;
}

.filter-main-title {
  margin: 0;
  padding-bottom: 25px;
  color: #000000;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.filter-form {
  padding-top: 35px;
}

.filter-form .button {
  width: 100%;
}

.filter-title {
  width: 100%;
  margin-bottom: 17px;
  padding-top: 12px;
  border-top: #000000 solid 2px;
  color: #000000;

  font-weight: 700;
  line-height: 20px;
}

.filter-fieldset:first-child .filter-title {
  margin-bottom: 28px;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.products-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  list-style-type: none;
}

.filter-fieldset {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  padding-right: 20px;
  border: none;
}

.filter-fieldset:nth-child(2) {
  margin-bottom: 26px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 5px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #cccccc;
  cursor: pointer;
}

.control-label {
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.control-input:checked + .control-mark {
  border: 2px solid #000000;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: -8px;
  left: 3px;
  content: url("../images/svg/tick-black.svg");
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  content: "";
}

.control-input:hover ~ :is(.control-mark, .control-label) {
  opacity: 0.6;
}

.control-input:active ~ :is(.control-mark, .control-label) {
  opacity: 0.3;
}

.control-input:disabled ~ :is(.control-mark, .control-label) {
  opacity: 0.1;
}

.control-input:focus:not(:active) + .control-mark {
  outline: #af4fff solid 2px;
  outline-offset: 2px;
}

/* Catalog */

.catalog-title {
  margin-bottom: 10px;
  margin-left: 60px;
}

.catalog {
  margin-top: -175px;
  margin-bottom: 13px;
}

.products-title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.catalog-cards {
  width: 840px;
  color: #000000;
}

.catalog-wrapper {
  background-color: #f0f0f0;
}

.catalog-wrapper .container {
  padding-top: 20px;
  padding-bottom: 0;
}

.catalog-content-wrapper {
  display: flex;
}

.product-list {
  margin: 0;
  padding: 73px 39px 0;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 46px 43px;
  list-style-type: none;
  background-color: #ffffff;
}

.products-item {
  width: 160px;
}

.products-img-wrapper {
  display: flex;
  margin-bottom: 32px;
  height: 160px;
  background-color: #ffe17f;
  justify-content: center;
  align-items: center;
}

.product-monopod {
  align-items: flex-end;
}

.products-link {
  color: #000000;
  font-family: "Raleway", sans-serif;
  letter-spacing: -0.36px;
  line-height: 24px;
  text-decoration: none;
}

.products-link:hover .products-img-wrapper {
  background-color: #ffc700;
}

.products-link:active {
  opacity: 0.3;
}

.products-link:focus .products-img-wrapper {
  outline: #af4fff solid 2px;
}

/* Card */

.sort-wrapper {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.select-button {
  margin-top: -7px;
  padding-right: 50px;
  list-style-type: none;
  line-height: 30px;
  background-image: url("../images/svg/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 9px 6px;
  background-position: center right 12px;
}

.select-button:hover {
  opacity: 0.6;
}

.select-button:active {
  opacity: 0.3;
}

.select-button:disabled {
  opacity: 0.1;
}

.select-button:focus:not(:active) {
  outline: #af4fff solid 2px;
}

.select {
  position: relative;
}

.select-menu {
  list-style-type: none;
  position: absolute;
  padding: 0;
}

.select-option {
  text-decoration: none;
  color: #000000;
}

.view {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  list-style-type: none;
  display: flex;
}

.view-item {
  width: 30px;
  height: 30px;
  opacity: 0.3;
}

.view-item:hover {
  opacity: 0.5;
}

.view-item:focus-within {
  outline: #af4fff solid 2px;
}

.view-item:first-child {
  background-image: url("../images/svg/sort-up.svg");
  background-repeat: no-repeat;
  background-size: 11px 10px;
  background-position: top center;
}

.view-item:last-child {
  background-image: url("../images/svg/sort-down.svg");
  background-repeat: no-repeat;
  background-size: 11px 10px;
  background-position: top center;
}

.product-card-image-wrapper {
  position: relative;
}

.product-card-image {
  box-sizing: border-box;
}

.new-icon {
  width: 60px;
  height: 60px;
  border: #00000099 solid 2px;
  border-radius: 50%;
  color: #00000099;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 27px;
  right: 27px;
}

.product-card-link-wrapper {
  width: 100%;
  height: 380px;
  top: 0;
  position: absolute;
  background-color: #f0f0f0cc;
  display: none;
  justify-content: center;
  align-items: center;
}

.card-button {
  width: 220px;
  text-align: center;
}

.product-card:hover .product-card-link-wrapper {
  display: flex;
}

.product-card:hover .card-button {
  background: linear-gradient(#ffe17f, #ffe17f) center/100% 8px no-repeat;
}

.product-card:hover .product-card-title {
  opacity: 0.6;
}

.product-card:hover .product-card-image {
  border: 1px solid #444444;
}

.card-button:active {
  background: linear-gradient(#ffc700, #ffc700) center/100% 8px no-repeat;
}

.card-button:focus {
  outline: none;
}

.product-card:active .product-card-description,
.product-card:hover .new-icon,
.product-card:active .new-icon {
  opacity: 0.3;
}

.product-card:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 1px;
}

.product-card-description {
  margin-top: 21px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.product-card-title {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  font-weight: 700;
  max-width: 209px;
}

.product-card-price {
  color: #444444;
}

/*Modal*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0e5;
  z-index: 1000;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 72px 80px;
  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 0 #0000001a;
  box-sizing: border-box;
}

.modal-delivery {
  width: 920px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 84px;
  right: 80px;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border: none;
  background-image: url("/images/svg/black-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover,
.quantity-button:hover {
  opacity: 0.6;
}

.modal-close-button:active,
.quantity-button:active {
  opacity: 0.3;
}

.modal-close-button:focus,
.quantity-button:focus {
  outline: #af4fff solid 2px;
}

.modal-title {
  margin: 0;
  margin-bottom: 42px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.delivery-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  row-gap: 42px;
}

.field-group {
  margin: 0;
}

.login-group {
  grid-column: 1/3;
}

.email-group {
  grid-column: 3/5;
}

.quantity-group {
  position: relative;
}

.quantity-group .delivery-field-label {
  position: relative;
  padding-right: 34px;
}

.quantity-group .delivery-field-label::after {
  content: url("/images/svg/info-delivery.svg");
  position: absolute;
  right: 0;
}

.delivery-popover {
  display: none;
  width: 200px;
  padding: 19px 17px 19px 19px;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 1;
}

.delivery-popover::before {
  content: "";
  position: absolute;
  top: -6px;
  right: 9px;
  transform: translateX(-50%);

  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 6px solid #000000;
}

.quantity-group:hover .delivery-popover {
  display: inline-block;
}

.quantity-wrapper {
  display: flex;
}

.quantity-wrapper-error {
  border: #ff3d3d solid 2px;
}

.delivery {
  grid-column: 1/4;
}

.delivery-field-label {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.32px;
}

.delivery-form-field {
  box-sizing: border-box;
  width: 100%;
  border: none;
  padding: 20px;
  background-color: #f0f0f0;
  color: #000000;
  font-size: 16px;
  line-height: 20px;
}

.delivery-form-field[name="delivery-login"] {
  padding-right: 55px;
  background-image: url("/images/svg/name.svg");
  background-repeat: no-repeat;
  background-position: right 20px top 50%;
}

.delivery-form-field[name="delivery-email"] {
  padding-right: 55px;
  background-image: url("/images/svg/email.svg");
  background-repeat: no-repeat;
  background-position: right 20px top 50%;
}

.delivery-form-field[name="quantity"] {
  flex-grow: 1;
  padding: 20px 10px;
}

.delivery-form-field:hover {
  background-color: #dcdcdc;
}

.delivery-form-field:not(:placeholder-shown) {
  background-color: #ebebeb;
  outline: none;
}

.delivery-form-field:focus {
  outline: #af4fff solid 2px;
}

.delivery-form-field:disabled {
  opacity: 0.3;
}

.error-message {
  font-size: 14px;
  line-height: 20px;
  color: #ff3d3d;
  visibility: hidden;
}

.error-message-active .error-message {
  visibility: visible;
}

.error-message-active .delivery-form-field[name="delivery-email"] {
  border: 2px solid #ff3d3d;
}

.delivery-button {
  grid-column: 1/-1;
  width: 200px;
}

.quantity-button {
  padding: 22px;
  min-width: 60px;
  border: none;
  position: relative;
  cursor: pointer;
}

.quantity-minus-button::before {
  content: "";
  position: absolute;
  background: #000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 2px;
}

.quantity-plus-button::before,
.quantity-plus-button::after {
  content: "";
  position: absolute;
  background: #000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quantity-plus-button::before {
  width: 16px;
  height: 2px;
}

.quantity-plus-button::after {
  width: 2px;
  height: 16px;
}
