@font-face {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubic";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

/* Common */

body {
  margin: 0 auto;
  padding-top: 40px;
  width: 1160px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubic", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #f0f0f0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-main {
  flex-grow: 1;
}

.button {
  color: #000000;
  background-color: #FFE17F;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Header */

.page-header {
  padding: 43px 60px 23px;
  background-color: #FFE17F;
}

.nav-wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

.header-search-form {
  margin-right: 27px;
  width: 517px;
}

.search-button {
  font-size: 16px;
  line-height: 20px;
}


.header-field-input {
  font-size: 16px;
  line-height: 20px;
}

.user-navigation-list,
.site-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-navigation-item:first-child {
  margin-right: 176px;
}

.user-navigation-link,
.site-menu-link {
  color: #000000;
  font-size: 18px;
  text-decoration: none;
}

.user-navigation-link {
    line-height: 30px;
}

.site-menu-item:first-child {
  margin-right: 333px;
}

.site-menu-link {
  font-family: "Raleway", sans-serif;
  letter-spacing: 3.6px;
}

/* Footer */
.page-footer {
  padding: 62px 0;
  display: flex;
  flex-direction: column;
  background-color: #444444;
}

.footer-logo {
  margin-bottom: 35px;
}

.footer-content, .footer-social, .page-footer-social {
  display: flex;
  justify-content: space-between;
}

.footer-menu, .page-footer-social {
  margin: 0;
  padding: 0;
}

.contacts-address,
.contacts-phone {
  color: #ffffff;
  
  font-size: 16px;
  font-style: normal;
  line-height: 29px;
}

.contacts-address {
  max-width: 238px;
  text-decoration: none;
}

.footer-menu-link {
  color: #ffffff;

  font-family: "Raleway", sans-serif;
  letter-spacing: 3.6px;
  text-decoration: none;
}

.footer-social {
  margin-top: 64px;
}

.social {
  list-style-type: none;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style-type: none;
}
  
.breadcrumbs-link {
  margin-right: 36px;
  color: #000000;
  text-decoration: none;
}

/* Forms */

.field-input {
    font-family: inherit;
    font-size: 16px;
}

/* Range */

.range-input {
  font-family: inherit;
  font-size: 18px;
}

.range-title {
  opacity: 0.3;
}

/* Pagination */

.pagination-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}


.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  padding: 8px;

  color: #444444;
  
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  }

.pagination-prev, .pagination-next {
  color: #000000;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

/* Main */

.container {
  width: 1160px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
}

/* Section */

.section-title {
  margin-top: 0;
  margin-bottom: 29px;
  color: #000000;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}
  
.section-description {
  margin-top: 0;
  margin-bottom: 51px;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
}

.section-description .contacts-phone {
  color: inherit;
  text-decoration: none;
}

/* Promo */

.promo {
  margin-bottom: 70px;
}

.slider-item {
  display: flex;
  justify-content: space-between;
}

.feature-item {
  font-size: 16px;
  line-height: 30px;
}

.feature {
  display: flex;
}

.feature-item b {
  margin-right: 20px;
  color: #000000;

  font-size: 36px;
  line-height: 30px;
}

/* Advantages*/

.advantages-wrapper {
  display: flex;
}

.advantages-tubs {
  margin: 0;
  padding: 0;
  width: 287px;
  list-style-type: none;
}

/* Contacts */

.contacts {
  padding: 70px 0;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
}

.about-info {
  width: 520px;
}

.contacts-info {
  width: 532px;
}

.delivery-info-button {
  margin-bottom: 70px;
  color: #000000;

  font-family: "Raleway", sans-serif;
  font-size: 20px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.delivery-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  list-style-type: none;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts-address-text {
  margin: 0;
}

.contacts-schedule {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style-type: none;
}

/* Subscribe */

.subscribe {
  padding: 64px 0 56px;
}

.subscribe-text {
  margin: 0;
  text-shadow: 
  1px 1px 0 #000000,
  -1px 1px 0 #000000,
  1px -1px 0 #000000,
  -1px -1px 0 #000000;
}


/* Filter */

.filter {
  width: 320px;
  padding-top: 25px;
}

.filter-main-title {
  color: #000000;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.filter-title {
  color: #000000;

  font-weight: 700;
  line-height: 20px;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Catalog */

.catalog {
  margin-bottom: 70px;
}

.products-title {
  margin: 0;
}

.catalog-cards {
  margin-bottom: 70px;
  width: 840px;
  color: #000000;
}

.catalog-wrapper {
  display: flex;
}

.products-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.products-item {
  width: 160px;
}

.products-img-wrapper {
  display: flex;
  margin-bottom: 32px;
  height: 160px;
  background-color: #FFE17F;
  justify-content: center;
  align-items: center;
}

.product-monopod {
  align-items: flex-end;
}

.products-link {
  color: #000000;

  font-family: "Raleway", sans-serif;
  letter-spacing: -0.36px;
  line-height: 24px;
  text-decoration: none;
}

/* Card */

.sort-wrapper {
  padding: 23px 40px;
  display: flex;
  justify-content: space-between;
}

.view {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-card-title {
  font-weight: 700;
  line-height: 20px;
}
  
  .product-card-link{
    color: #000000;
  
    text-decoration: none;
  }
  
  .product-card-price {
    color: #444444;
    letter-spacing: -0,36px;
  }